{% block menu %}
    <div class="menu-centered">
        <ul class="dropdown menu data-dropdown-menu">
            <li {% if app.request.get('_route') == 'home' %} class="active" {% endif %}><a href="{{ path('home') }}">Index</a>
            </li>
            <li id="first-drop" {% if app.request.get('_route') == 'profil' or app.request.get('_route') == 'matieres' %} class="active" {% endif %}>
                <a href=""><i class="fi-list"></i>Profil</a>
                <ul class="menu sub">
                    <li><a href="/profile/edit">Mes informations</a></li>
                    <li><a href="{{ path('profil') }}">Mes notes</a></li>
                    <li><a href="{{ path('matieres') }}">Mes cours</a></li>
                </ul>
            </li>
            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_PROF') %}
                <li {% if app.request.get('_route') == 'notes' %} class="active" {% endif %}><a href="{{ path('notes') }}">Notation</a>
            {% endif %}
            </li>
            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_PROF') %}
                <li {% if app.request.get('_route') == 'users' %} class="active" {% endif %}><a href="{{ path('users') }}">Users (admin only)</a></li>
            {% endif %}
            <li><a href="/logout">Logout</a></li>
        </ul>
    </div>
{% endblock menu %}
