{% include 'IntranetBundle:Default:header.html.twig' %}
Welcome {{ user.username }} !

<table>
  <tr>
    <th>Matière</th>
    <th>Projet</th>
    <th>Note</th>
    <th>Commentaires</th>
  </tr>
    {% for note in user.notes %}
    <tr>
      <td> {{ note.matieres.name }} </td>
      <td> {{ note.project }} </td>
      <td> {{ note.points }} </td>
      <td> {{ note.commentaires }} </td>
    </tr>
    {% endfor %}
</table>
{% include 'IntranetBundle:Default:footer.html.twig' %}
