{% include 'IntranetBundle:Default:header.html.twig' %}
Welcome {{ app.user.username }} !

<table>
    {% for matiere in matieres %}
    {% for note in current_user.notes %}
    <tr>
      <td> {{ matiere.name }} </td>
        <td> {{ note.project }} </td>
        <td> {{ note.points }} </td>
        <td> {{ note.commentaires }}</td>


    </tr>
    {% endfor %}
    {% endfor %}
</table>
{% include 'IntranetBundle:Default:footer.html.twig' %}
